<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ece.np.edu.miniproject2_raynardthian">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProject2_RaynardThian">
        <activity android:name=".AdminInsertFood"></activity>
        <activity android:name=".FoodItemActivity" />
        <activity android:name=".AlbumAdapter" />
        <activity android:name=".ChickenActivity" />
        <activity
            android:name=".AdminLoginActivity"
            android:label="Admin Login" />
        <activity
            android:name=".AdminActivity"
            android:label="Admin Logs" />
        <activity
            android:name=".CheckoutActivity"
            android:label="Checkout Page" />
        <activity
            android:name=".ShoppingActivity"
            android:label="Shopping" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".CustomerActivity"
            android:label="Customer Login" />
        <activity
            android:name=".RegisterActivity"
            android:label="New Registration" />
        <activity
            android:name=".ForgotActivity"
            android:label="Forgot Password" />
        <activity
            android:name=".MainActivity"
            android:label="Food Ordering App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>